crud-app/common-lib/src/main/resources/clients.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
            <xs:element name="getClientByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchClientByNameRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClientRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="client" type="tns:clientInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="client" type="tns:clientInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="clientInfo">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="address" type="tns:addressInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressInfo">
                <xs:sequence>
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="street" type="xs:string"/>
                    <xs:element name="house" type="xs:int"/>
                    <xs:element name="apartment" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getClientResponse">
        <wsdl:part element="tns:getClientResponse" name="getClientResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientByIdRequest">
        <wsdl:part element="tns:getClientByIdRequest" name="getClientByIdRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchClientByNameRequest">
        <wsdl:part element="tns:searchClientByNameRequest" name="searchClientByNameRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateClientRequest">
        <wsdl:part element="tns:updateClientRequest" name="updateClientRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClientsPort">
        <wsdl:operation name="getClient">
            <wsdl:output message="tns:getClientResponse" name="getClientResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <wsdl:input message="tns:getClientByIdRequest" name="getClientByIdRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="searchClientByName">
            <wsdl:input message="tns:searchClientByNameRequest" name="searchClientByNameRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <wsdl:input message="tns:updateClientRequest" name="updateClientRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientsPortSoap11" type="tns:ClientsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getClient">
            <soap:operation soapAction=""/>
            <wsdl:output name="getClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <soap:operation soapAction=""/>
            <wsdl:input name="getClientByIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="searchClientByName">
            <soap:operation soapAction=""/>
            <wsdl:input name="searchClientByNameRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateClientRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientsPortService">
        <wsdl:port binding="tns:ClientsPortSoap11" name="ClientsPortSoap11">
            <soap:address location="http://localhost:8989/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>